Django>=4.2.10
psycopg2-binary
django-tailwind>=3.8.0
gunicorn
django-environ
djangorestframework
django-htmx
django-crispy-forms
pillow
boto3
django-storages
cryptography
django-waffle
whitenoise
django-debug-toolbar
pytest
pytest-django
pytest-cov
flake8
black
bandit